.signIn {
  margin-right: 120px;
  background-color: #95b992;
  border: 3px solid #58a365;
}
.signIn:hover,
.signIn:active,
.signIn:focus,
.signIn.active {
  background-color: #adc9ab;
  border: 3px solid #17882a;
}

.signUp {
  background-color: #a8b5c5;
  border: 3px solid #5869a3;
}
.signUp:hover,
.signUp:active,
.signUp:focus,
.signUp.active {
  background-color: #92b5e2;
  border: 3px solid #6a7f92;
}

.sign {
  width: 100px;
  position: absolute;
  top: 50px;
  right: 100px;
}
